<ion-header>
  <ion-toolbar>
    <ion-title>Verificar Correo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
  <ion-row>
    <ion-col>
      <h2>¡Bienvenido!</h2>
      <p>Revisa tu correo, te hemos enviado un correo a <strong>{{user.email}}</strong></p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="primary" expand="block" (click)="onResenEmail()">Reenviar correo de verificación</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
